In [23]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Get Average of Petal Length

In [24]:
df['petal_length'].mean()

#df['petal_length'].map(lambda x: x.mean())

3.7586666666666693

#### Create new column "Petal Area"  and calculatue petals area (petal width * petal length)

In [25]:
df['petal_area'] = df.petal_width * df.petal_length
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa        0.28
1           4.9          3.0           1.4          0.2  setosa        0.28
2           4.7          3.2           1.3          0.2  setosa        0.26
3           4.6          3.1           1.5          0.2  setosa        0.30
4           5.0          3.6           1.4          0.2  setosa        0.28

#### Capitalize all species in species column

In [37]:
df.species = df.species.apply(lambda x: x.title())
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  Setosa        0.28
1           4.9          3.0           1.4          0.2  Setosa        0.28
2           4.7          3.2           1.3          0.2  Setosa        0.26
3           4.6          3.1           1.5          0.2  Setosa        0.30
4           5.0          3.6           1.4          0.2  Setosa        0.28

#### Get the Average Sepal Length, Sepal Width, Petal Length, Petal Width of each species

In [44]:
df.groupby(df.species).mean().iloc[0,0:4]

# ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'].agg('mean')
# average.head()

sepal_length    5.006
sepal_width     3.418
petal_length    1.464
petal_width     0.244
Name: Setosa, dtype: float64